*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side {
    width: 270px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 605px;
}

.nav {
    text-align: center;
    width: 994.5px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 270px;
    margin-top: -605px;
}
ul li {
    list-style: none;
}

ul li a{
    margin-left: 40px;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-family: Calibri;
    font-weight: bold;

}

.logo-container {
    width: 100px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 15px;
    margin-left: 90px;
}
.logo {
    width: 70px;
    height: 70px;
}
.nav h1 {
    font-size: 50px;
}
